In [2]:
%pip install numpy
%pip install pandas
import numpy as np
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/venkateshthokala/Library/Python/3.9/lib/python/site-packages (2.0.2)
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 1.7 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.22.4 in /Users/venkateshthokala/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     |████████████████████████████████| 346 kB 4.3 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     |████████████████████████████████| 508 kB 1.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/venkateshthokala/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [15]:
df=pd.DataFrame(np.arange(0,30).reshape(6,5),index=['Row1','Row2','Row3','Row4','Row5','Row6'],columns=['column1','column2','column3','column4','column5'])

In [16]:
df.head()

      column1  column2  column3  column4  column5
Row1        0        1        2        3        4
Row2        5        6        7        8        9
Row3       10       11       12       13       14
Row4       15       16       17       18       19
Row5       20       21       22       23       24

In [17]:
df.to_csv('sampletxt')

In [18]:
df.loc['Row2']

column1    5
column2    6
column3    7
column4    8
column5    9
Name: Row2, dtype: int64

In [22]:
df.iloc[0:3,1:3]

      column2  column3
Row1        1        2
Row2        6        7
Row3       11       12

In [19]:
type(df.loc['Row1'])

pandas.core.series.Series

In [23]:
df.iloc[0:2,1:3]

      column2  column3
Row1        1        2
Row2        6        7

In [25]:
#to convert dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3,  4],
       [ 6,  7,  8,  9],
       [11, 12, 13, 14],
       [16, 17, 18, 19],
       [21, 22, 23, 24],
       [26, 27, 28, 29]])

In [27]:
#to check null values
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
column5    0
dtype: int64

In [30]:
# to check the unique values which is not repeated
df['column1'].unique()

array([ 0,  5, 10, 15, 20, 25])